.contenedor {
  font-family: "Dancing Script", cursive;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}

.tarjeta1 {
  margin: 10px;
  flex-basis: 500px;
  height: 300px;
  background-color: #111;
  border: 1px solid #111;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px #111;
  gap: 1em;
  flex-grow: 1;
  display: flex;
}
.tarjeta1 .texto {
  padding: 10px;
  width: 60%;
}
.tarjeta1 .texto h1 {
  color: #cd6799;
}
.tarjeta1 .texto h3 {
  color: rgba(77, 77, 77, 0.8235294118);
}
.tarjeta1 .texto p {
  color: rgb(255, 255, 255);
}
.tarjeta1 .foto1 {
  background-image: url("img/volcan1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  border-radius: 10px 0 0 10px;
}

.tarjeta2 {
  margin: 10px;
  flex-basis: 500px;
  height: 300px;
  background-color: #111;
  border: 1px solid #111;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px #111;
  gap: 1em;
  flex-grow: 1;
  display: flex;
}
.tarjeta2 .texto {
  padding: 10px;
  width: 60%;
}
.tarjeta2 .texto h1 {
  color: #cd6799;
}
.tarjeta2 .texto h3 {
  color: rgba(77, 77, 77, 0.8235294118);
}
.tarjeta2 .texto p {
  color: rgb(255, 255, 255);
}
.tarjeta2 .foto2 {
  background-image: url("img/volcan2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  border-radius: 10px 0 0 10px;
}

.tarjeta3 {
  margin: 10px;
  flex-basis: 500px;
  height: 300px;
  background-color: #111;
  border: 1px solid #111;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px #111;
  gap: 1em;
  flex-grow: 1;
  display: flex;
}
.tarjeta3 .texto {
  padding: 10px;
  width: 60%;
}
.tarjeta3 .texto h1 {
  color: #cd6799;
}
.tarjeta3 .texto h3 {
  color: rgba(77, 77, 77, 0.8235294118);
}
.tarjeta3 .texto p {
  color: rgb(255, 255, 255);
}
.tarjeta3 .foto3 {
  background-image: url("img/volcan3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  border-radius: 10px 0 0 10px;
}

.tarjeta4 {
  margin: 10px;
  flex-basis: 500px;
  height: 300px;
  background-color: #111;
  border: 1px solid #111;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px #111;
  gap: 1em;
  flex-grow: 1;
  display: flex;
}
.tarjeta4 .texto {
  padding: 10px;
  width: 60%;
}
.tarjeta4 .texto h1 {
  color: #cd6799;
}
.tarjeta4 .texto h3 {
  color: rgba(77, 77, 77, 0.8235294118);
}
.tarjeta4 .texto p {
  color: rgb(255, 255, 255);
}
.tarjeta4 .foto4 {
  background-image: url("img/volcan4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  border-radius: 10px 0 0 10px;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: "Dancing Script", cursive;
  color: #cd6799;
  background-color: #111;
}
header .logo {
  width: 60px;
  height: 40px;
  padding: 15px;
}

.parte1 {
  display: flex;
}

.parte2 {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px;
}
.parte2 li {
  margin: 15px;
}/*# sourceMappingURL=main.css.map */